@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
font-family: 'Montserrat', 
sans-serif;

background-color:#98FB98;
color:#006400;
}


.sticky-menu1 {
position: sticky;
top: 0;
background-color:white;
padding: 8px;
height: 45px;
margin: 0;
}

.sticky-menu1 img {
float: left;
margin-top: -2px;
}

.sticky-section1 {
background-color: #DBE3DE;
padding: 6%;
}


h1 {
font-weight: 800;
font-size: 57px;
}

.link {
color:#FFFFFF;
background-color:#bdf0f0;
text-decoration:none;
padding: 4px;
font-size: 20px;
margin-right: 4px;
font-weight: 800;
border-radius: 5px;
}


h4 {
font-weight: 600;
font-size: 25px;
}

h5 {
font-weight: 600;
font-size: 20px;
padding-left: 12%;
}

.text-input {
    width: 97%; /* Szerokość pola */
    height: 350px; /* Wysokość pola */
    font-size: 16px; /* Rozmiar czcionki */
    padding: 10px; /* Odstępy wewnętrzne */
    border: 1px solid #ccc; /* Kolor ramki */
    border-radius: 5px; /* Zaokrąglenie rogów */
    resize: both; /* Umożliwia zmianę rozmiaru */
}

.text-input1 {
    width: 400px; /* Szerokość pola */
    height: 50px; /* Wysokość pola */
    font-size: 16px; /* Rozmiar czcionki */
    padding: 10px; /* Odstępy wewnętrzne */
    border: 1px solid #ccc; /* Kolor ramki */
    border-radius: 5px; /* Zaokrąglenie rogów */
    resize: both; /* Umożliwia zmianę rozmiaru */
}

.text-input3 { width: 400px; /* Szerokość pola / 
height: 500px; / Wysokość pola */ 
}

.table3 {
width: 1550px;
height: 100px;
text-align: center;
padding: 3px;
}

.sc1 {
    margin: 8px;
    padding: 12px;
    color: #5A5959;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s; /* Upewnij się, że dodajesz transformację dla płynnego efektu */
    font-weight: 700;
}

.sc1:hover { /* Poprawioną część zmieniamy na ":hover" */
    color: #0F0E0F;
    transform: scale(1.20);
}

.separator1 {
    padding: 1px;
    color: #303030;
}

.map1 {
    display: block; /* Domyślnie niech będzie widoczna */
}

@media (max-width: 600px) {

.link {
color:#FFFFFF;
background-color:#bdf0f0;
text-decoration:none;
padding: 0.7%;
font-size: 65%;
font-weight: 800;
margin-right: 2%;
}

.sticky-menu1 {
position: sticky;
top: 0;
background-color:white;
padding: 3%;
height: 7%;
margin: 0;
}

.sticky-menu1 img {
float: left;
margin-top: -1%;
height: 9%;
width: 9%;
}

h4 {
font-weight: 600;
font-size: 55%;
padding-left: 3%;
padding-right: 3%;
}

h5{
font-weight: 400;
font-size: 10px;
margin-right:13%
}

b {
font-weight: 600;
font-size: 35%;
padding-left: 2%;
padding-right: 2%;
}

.text-input {
    width: 97%; /* Szerokość pola */
    height: 112px; /* Wysokość pola */
    font-size: 6px; /* Rozmiar czcionki */
    padding: 3.4px; /* Odstępy wewnętrzne */
    border: 1px solid #ccc; /* Kolor ramki */
    border-radius: 5px; /* Zaokrąglenie rogów */
    resize: both; /* Umożliwia zmianę rozmiaru */
}

.text-input1 {
    width: 130px; /* Szerokość pola */
    height: 16px; /* Wysokość pola */
    font-size: 6px; /* Rozmiar czcionki */
    padding: 3.4px; /* Odstępy wewnętrzne */
    border: 1px solid #ccc; /* Kolor ramki */
    border-radius: 5px; /* Zaokrąglenie rogów */
    resize: both; /* Umożliwia zmianę rozmiaru */
}

.text-input3 { 
width: 129px; /* Szerokość pola / 
height: 161px; / Wysokość pola */ 
}

.table3 {
width: 80%;
height: 32px;
text-align: center;
padding: 1px;
}

.sticky-section1 {
background-color: #DBE3DE;
padding: 6%;
}

.sc1 {
    margin: 4px;
    padding: 4px;
    color: #5A5959;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s; /* Upewnij się, że dodajesz transformację dla płynnego efektu */
    font-weight: 600;
    font-size: 8px;
}

.sc1:hover { /* Poprawioną część zmieniamy na ":hover" */
    color: #0F0E0F;
    transform: scale(1.20);
}

.separator1 {
    padding: 1px;
    color: #303030;
    font-size: 8px;
}
.map-container {
        display: none;
    }
}
}
